/* *{
  border: 1px solid gold;
} */

body{
  background-image: url(./icons/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;

}
textarea{
  resize:none;
  font-size: 26px;
}

#links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.user{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 4px;
  border-width: 3px;
  border-color: lightblue;
  border-style: inset;
  padding: 1em;
  margin-bottom: 3px;
}
.user:hover{
  background-color: rgba(174,216,230,0.5);

}
.username{
  font-size: 30px;
}


.tweets-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.tweet{
  border: 2px solid darkblue;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  padding:1em;
  margin: 1.5em;
}

.tweet>h1{
  font-size: 46px;
}
.tweet>p{
  font-size: 26px;
  word-wrap: break-word;
}

.tweet-footer{
  display: flex;
  justify-content: space-between;
}

.fav-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
.faves-num{
  font-size: 26px;
}
.favorite{
  background-image: url('icons/fav.png');
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
  margin-left: 1em;
}

.unfavorite{
  background-image: url('icons/unfav.png');
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
  margin-left: 1em;
}

#logo{
  background-image: url('icons/logo.png');
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin-left: 1em;
}

#char-count{
  font-size: 32px;
  margin-left: 70%;
}
#title{
  margin-left: 5%;
}
